<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Resume</title>
</head>

<body>
    
    <div class=" mx-12 my-4">
        <!-- main heading for name and other info -->
        <div class="border-b-2 border-double border-black">
            <ul class="list-none text-center border-b-2 border-double border-black mb-1">
                <li class="text-5xl font-black">
                    AKSHAY SINGH
                </li>
                <li class="text-2xl font-bold">
                    Python Developer
                </li>
                <li class="text-xl mb-3">
                    Email: 06akshay2002@gmail.com || Mobile: 9305224328
                </li>
            </ul>
        </div>
        <!-- body div  -->
        <div class="flex flex-row mt-6">
            <!-- col 1 -->
            <div class="basis-1/2 flex flex-col mr-5">
                <!-- education -->
                <div>
                    <h1 class="text-2xl font-bold mb-2">EDUCATION</h1>
                    <!-- college -->
                    <p class="font-bold">Bachelor of Technology (B.Tech), Computer Science</p>
                    <p>Indraprastha Engineering College (2020 - 2024)</p>
                    <p>CGPA: 8.85/10</p>
                    <!-- 12th -->
                    <p class="font-bold mt-1">Senior Secondary (XII)</p>
                    <p>Elpis Global School (CBSE board) (2019)</p>
                    <p>Percentage: 86%</p>
                    <!-- 10th -->
                    <p class="font-bold mt-1">Secondary (X)</p>
                    <p>Elpis Global School (CBSE board) (2017)</p>
                    <p>CGPA: 10/10</p>
                </div>
                <!-- skills -->
                <div class="">
                    <h1 class="text-2xl font-bold mt-4 mb-2">TECHNICAL SKILLS</h1>
                    <p class="mb-1"><span class="font-bold">Languages:</span> C, C++, Python, Java, HTML, CSS, JavaScript, Kotlin</p>
                    <p class="mb-1"><span class="font-bold">Frameworks/Libraries:</span> Bootstrap, React, Sass, jQuery, Tailwind CSS, Django, Selenium(Web automation), NumPy, Pandas, scikit-learn(Machine Learning), Tkinter(GUI development)</p>
                    <p class=""><span class="font-bold">Others:</span> Android Studio, Microsoft Office, Microsoft PowerPoint, Git & GitHub, Azure, Adobe Photoshop, Linux</p>
                </div>
                <!-- position of responsibility -->
                <div>
                    <h1 class="text-2xl font-bold mt-4 mb-2">Position of Responsibility</h1>
                    <p>SIG Python Head at IPEC ACM STUDENT CHAPTER.</p>
                </div>
                <!-- Experience -->
                <div>
                    <h1 class="text-2xl font-bold mt-4 mb-2">Work Experience</h1>
                    <p>Web Development Internship at Lets Grow More. (from 1 September 2021 to 1 October 2021)</p>
                </div>
            </div>
            <!-- col 2 -->
            <div class="basis-1/2 flex flex-col ml-5">
                <!-- project -->
                <div>
                    <h1 class="text-2xl font-bold  mb-2">PROJECTS</h1>
                    
                    <p class="font-bold mb-1    ">Elite E-library</p>
                    <p>It is a fully responsive, fullend website made using Django that has authentication system. Only logined user can upload books and read premium books.</p>
                    <!-- <p>It is a fully responsive, fullend website made using Django that has authentication system. Random  users can read books from here for free and only logined user can upload books and read premium books for free.</p> -->
                    <!-- <p class="mt-1"><span class="font-bold">Languages, Frameworks and Libraries used:</span> HTML, CSS , JavaScript, Bootstrap, Django</p> -->
                    
                    <p class="font-bold mb-1 mt-2    ">Elite Sudoku Solver</p>
                    <p>It is an android application (made using Kotlin) that can solve 9*9 sudoku. It's web version is also made using JavaScript and hosted on GitHub.</p>
                    <!-- <p class="mt-1"><span class="font-bold">Languages, Frameworks and Libraries used:</span> Kotlin</p> -->

                    <p class="font-bold mb-1 mt-2    ">Elite Mass Email Sender</p>
                    <p>It is a Python GUI that can help you to send emails in mass with and without attachment. It can also be used to spam one person for fun.</p>
                    <!-- <p class="mt-1"><span class="font-bold">Languages, Frameworks and Libraries used:</span> Python,Tkinter,Pandas</p> -->

                    <p class="font-bold mb-1 mt-2    ">Elite Youtube Downloader</p>
                    <p>It is a Python GUI that can help you to download youtube videos and playlists in vedio or audio format.It also has background threding and queue functionality.</p>
                    <!-- <p class="mt-1"><span class="font-bold">Languages, Frameworks and Libraries used:</span> Python,Tkinter</p> -->

                    <p class="font-bold mb-1 mt-2    ">Bouncing Ball</p>
                    <p>It is a GUI game made using C.</p>

                    <p class="font-bold mb-1 mt-2   ">Insta Profile Downloader</p>
                    <p>It is a Python GUI that can download profile photo of instagram's private and public accounts.</p>
                </div>
                
                <div>
                    <h1 class="text-2xl font-bold mt-4 mb-2">Acquirements</h1>
                    <ul class="list-disc list-inside">
                        <li>2 stars at codechef</li>
                        <li>5 stars in Problem Solving at HackerRank</li>
                        <li>5 stars in C, C++, Python, JavaScript at HackerRank</li>
                        <li>3 stars in Java at HackerRank</li>
                        <li>139 rank in Institute at GFG</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- <p class="right-2 absolute text-sm">Made Using CSS</p> -->
</body>

</html>